.posts-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.post-body img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 30px 0;
}